[user]
	email = concavemail@gmail.com
	name = Kawin Nikomborirak
[core]
	excludesfile = ~/dotfiles/nostow/global.gitignore
[credential]
	helper = /usr/bin/git-credential-libsecret
[magit]
	hideCampaign = true
