[user]
	email = concavemail@gmail.com
	name = Kawin Nikomborirak
	signkey = D0F2D6C226D5EDA6291495E359FF8806C6DDECB6
[core]
	excludesfile = ~/dotfiles/nostow/global.gitignore
	autocrlf = input
[magit]
	hideCampaign = true
[commit]
	# gpgsign = true
[github]
	user = concavegit
[gitlab]
	user = concavegit
[pull]
	rebase = true
