/emacs/.emacs.d/*
!eshell/
!/emacs/.emacs.d/init.el
/emacs/.emacs.d/eshell/*
!alias

/config/.config/*
!qutebrowser/
!ncmpcpp/
!mpd/
!xmobar/

/config/.config/fcitx/*
!config
!conf/

/config/.config/qutebrowser/*
!keys.conf
!qutebrowser.conf

/config/.config/mpd/*
!mpd.conf

/stack/.stack/*
!config.yaml

xmonad-x86_64-linux
xmonad.state