[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/mailsync
ExecStartPost=/usr/bin/emacsclient -a '' -e '(mu4e-update-index)'
