*.font:			xos4 terminus 8
urxvt.font:		xft:xos4 terminus:size=8,xft:noto sans mono cjk tc:size=8,xft:dejavu sans mono:size:8,xft:noto color emoji:size=8

! special
*.foreground:		#c5c8c6
*.background:		#1d1f21
*.cursorColor:		#c5c8c6

! black
*.color0:		#1d1f21
*.color8:		#969896

! red
*.color1:		#cc6666
*.color9:		#cc6666

! green
*.color2:		#b5bd68
*.color10:		#b5bd68

! yellow
*.color3:		#f0c674
*.color11:		#f0c674

! blue
*.color4:		#81a2be
*.color12:		#81a2be

! magenta
*.color5:		#b294bb
*.color13:		#b294bb

! cyan
*.color6:		#8abeb7
*.color14:		#8abeb7

! white
*.color7:		#c5c8c6
*.color15:		#ffffff

urxvt.scrollBar:	false
urxvt*scrollTtyOutput:	false
urxvt*scrollWithBuffer:	true
urxvt*scrollTtyKeypress:true

rofi.line-margin:	0
rofi.regex:		true
rofi.separator-style:	solid
rofi.location:		3
rofi.width:		20
rofi.xoffset:		0
rofi.yoffset:		21
rofi.font:		xos4 terminus 8
rofi.color-enabled:	true
rofi.color-window:	#1d1f21, #f0c674, #969896
rofi.color-active:	#81a2be, #1d1f21, #81a2be, #b5bd68, #1d1f21
rofi.color-normal:	#1d1f21, #c5c8c6, #1d1f21, #f0c674, #1d1f21
rofi.color-urgent:	#cc6666, #1d1f21, #cc6666, #b294bb, #1d1f21
